.DS_Store
.env*
.yarn/install-state.gz
.yarn/build-state.yml
node_modules

dist/
build/
docs/
test_out/
.swc/
*.tsbuildinfo
coverage/
.turbo
package-lock.json
*.log
*.heapsnapshot
*.zip
*.tar
*.tar.gz
*.tar.xz
*.7z
*.rar
